<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
</div>
	<div class="panel-body">
		<p>by <%= link_to @blog_post.user.username, user_posts_path(id: @blog_post.user.id) %> </p>
		<p><%= @blog_post.entry %></p>	
	</div>


<div class="panel panel-success">
	<div class="panel-heading">
		Make A Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments by Users</h4>
		<hr>
	</div>
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong> <%= link_to comment.user.username, user_posts_path(id: comment.user.id) %> </strong></p>
		<p><strong><%= comment.created_at.strftime('%m/%d/%Y at %H:%M:%S') %></strong></p>
		<p> <%= comment.comment_entry %> </p>
	</div>
	<% end %>
</div>

<% if current_user.id == @blog_post.user.id %>
	<%= link_to 'Edit Post', edit_blog_post_path(@blog_post), class: "btn btn-info" %>
<% end %>
	<%= link_to 'Back to Stories', blog_posts_path, class: "btn btn-success" %>



</div>

