<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
</div>
	<div class="panel-body">
		<p>by <%= @blog_post.user.email %> </p>
		<p><%= @blog_post.entry %></p>	
	</div>


<div class="panel panel-success">
	<div class="panel-heading">
		Make A Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
		<hr>
	</div>
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong> <%= comment.user.email %> </strong></p>
		<p><strong><%= comment.created_at.strftime('%m/%d/%Y at %H:%M:%S') %></strong></p>
		<p> <%= comment.comment_entry %> </p>
	</div>
	<% end %>
</div>



</div>
<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-info" %> |
<%= link_to 'Back', blog_posts_path, class: "btn btn-info" %>
